@model CustomWebApplication.Models.BigViewModel
@using CustomWebApplication.Structures

@{
    ViewBag.Title = "Lista Albumów";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja wypożyczalnia płyt</title>
    <link href="~/Content/Default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="~/Scripts/CategoriesList.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="search-dv">
            <span><b>Szukaj po:</b></span>
            <span>
                <select class="select-edit" id="searchby">
                    <option value="AlbumName">Nazwa albumu</option>
                    <option value="BandName">Nazwa zespołu</option>
                </select>
            </span>
            <span>@Html.TextBox("Search", "", new { @class = "label-edit" }) </span><span><input class="btn btn-primary" type="submit" id="searchBtn" value="Search" /></span>
        </div>
        <table class="table-style" style="margin: auto; text-align:center;">
            <thead>
                <tr>
                    <td>ID albumu</td>
                    <td>@Html.ActionLink("Album Name", "AlbumListByCategory", new { categoryID = Request["categoryID"], sortBy = ViewBag.SortAlbumNameParameter }, new { @class = "anchor-edit" })</td>
                    <td>@Html.ActionLink("Band Name", "AlbumListByCategory", new { categoryID = Request["categoryID"], sortBy = ViewBag.SortBandNameParameter }, new { @class = "anchor-edit" })</td>
                    <td>Okładka płyty</td>
                    <td>Rok wydania</td>
                    <td>Cena</td>
                    <td>Lista Piosenek</td>
                    <td class="hidden">
                        <input id="categoryID" class="hidden" type="submit" value="@Request["categoryID"]" />
                    </td>
                </tr>
            </thead>
            <tbody id="dataSearching">
                @foreach (var item in Model.Albums)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlbumID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlbumName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BandName)
                        </td>
                        <td>
                            <div class="album-cover-edit">
                                <img src="@Url.ImagePath(item.AlbumCover)" alt="Card image cap">
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <button id="@item.AlbumID" type="button" class="btn btn-primary myModals" data-toggle="modal" data-target="#exampleModal-@item.AlbumID">
                                Zobacz
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal-@item.AlbumID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-@item.AlbumID" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel-@item.AlbumID">@item.AlbumName @item.Year, @item.BandName</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div id="parent-@item.AlbumID" class="modal-body">

                                        </div>
                                        <div class="modal-footer">
                                            <button id="closeModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h1 class="border-class">Kategorie</h1>
        <div class="flex-container flex-container-mg">
            @foreach (var category in Model.Categories)
            {
                <div class="flex-item card">
                    <img class="card-img-top category-tiles" src="@Url.ImagePath(category.CategoryImage)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@category.CategoryName</h5>
                        <a href="@Url.Action("AlbumListByCategory","Default",new { categoryID = category.CategoryID })" class="btn btn-primary">Zobacz</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/Scripts/CategoriesList.js"></script>
    <footer style="margin-top: 5%; padding: 11px; padding-left: 7%; color: #999; font-weight: 500; font-size: 17px;
    background-color: #111;">
        <p>&copy; @DateTime.Now.Year - Adrian Wilk</p>
    </footer>
</body>
</html>

